<div class="container mx-auto p-3">
  <h1 class="text-3xl mb-5 border-b">Default example</h1>

  <form [formGroup]="form" (ngSubmit)="handleSubmit($event)">

    <div class="grid grid-cols-2 gap-3 mb-4">
      <div class="flex flex-col items-stretch gap-1">
        <label>Name</label>
        <input type="text" class="border p-2 rounded" formControlName="name">
      </div>

      <div class="flex flex-col items-stretch gap-1">
        <label>Email</label>
        <input type="text" class="border p-2 rounded" formControlName="email">
        @if (form.dirty && form.get('email')?.hasError('required')) {
          <div class="text-red-500">Email is required</div>
        }
      </div>
    </div>

    <div class="rounded-xl border p-4 mb-4" formGroupName="address">
      <h4 class="text-lg mb-3">Address</h4>
      <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col items-stretch gap-1">
          <label>Title</label>
          <input type="text" class="border p-2 rounded" formControlName="title">
        </div>
        <div class="flex flex-col items-stretch gap-1">
          <label>Street</label>
          <input type="text" class="border p-2 rounded" formControlName="street">
        </div>
      </div>
    </div>

    <div class="rounded-xl border p-4" formArrayName="phones">
      <div class="flex justify-between items-center mb-3">
        <h4 class="text-lg">Phones</h4>
        <button type="button" class="rounded bg-green-300 py-2 px-4" (click)="addPhone()">Add</button>
      </div>
      <div class="grid gap-3">
        @for (item of phonesControls; track $index) {
          <div class="flex items-end gap-3">
            <div class="flex-auto flex flex-col items-stretch gap-1">
              <label>Title</label>
              <input type="text" class="border p-2 rounded" [formControl]="item">
            </div>
            <button type="button" class="rounded bg-red-300 py-2 px-4" (click)="removePhone($index)">Remove</button>
          </div>
        }
      </div>
    </div>

    <button type="submit" class="p-3 bg-amber-200">Submit</button>

  </form>

  <pre>{{ form.value | json }}</pre>
</div>
