<easy-form [form]="form">
  <div class="p-4 space-y-5">
    <ng-container easyFormField path="customerName"/>
    <div class="p-4 border rounded-lg border-dashed">
      <h4 class="text-lg">Address</h4>
      <div class="space-y-3">
        <ng-container easyFormField path="address.street"/>
        <ng-container easyFormField [path]="['address','city']"/>
        <ng-container easyFormField path="address.country"/>
      </div>
    </div>
    <button type="submit">Submit</button>
  </div>
</easy-form>
