@if (control) {
  <label>{{ formField.label }}</label>
  <div class="flex w-full gap-1">
    <input [type]="(props && props['type']) ? props!['type'] : 'text'" [formControl]="control"
           class="flex-auto border p-2 block rounded-xl focus-visible:outline-indigo-600 disabled:bg-gray-500/50">
    @if (props && props['actions']) {
      @for (action of props['actions']; track $index) {
        <button type="button" class="p-2 border border-s-0 rounded-xl bg-slate-400"
                (click)="action.action(control)">{{ action.label }}
        </button>
      }
    }
  </div>
  <ef-errors [control]="control" [formField]="formField">
    <ng-template #messageTemplate let-message>
      <div class="text-amber-400 text-xl font-bold absolute top-0 end-0">{{ message }}</div>
    </ng-template>
  </ef-errors>
}
