$invalid-color: var(--ef-invalid-color, (0 100% 50%));
$valid-color: var(--ef-valid-color, (120 100% 42%));
$input-bg: var(--ef-input-bg, (0 100% 100%));
$input-accent-color: var(--ef-input-accent-color, (200 100% 50%));
$input-border-color: var(--ef-input-border-color, (0 0% 90%));
$input-border-radius: var(--ef-input-border-radius, 5px);
$input-padding: var(--ef-input-padding, 0.5em);
$errors-font-size: var(--ef-form-errors-font-size, 0.8em);


$radio-spacing: var(--ef-radio-spacing, (0.5rem));
$radio-size: var(--ef-radio-size, (1.5rem));

$checkbox-spacing: var(--checkbox-spacing, (0.5rem));
$checkbox-size: var(--checkbox-size, (1.5rem));

$switch-spacing: var(--switch-spacing, (0.5rem));
$switch-size: var(--switch-size, (1.5rem));
