$invalid-color: var(--ef-invalid-color, (255, 0, 0));
$valid-color: var(--ef-valid-color, (222, 222, 222));
$input-border-color: var(--ef-input-border-color, (222, 222, 222));
$input-border-radius: var(--ef-input-border-radius, 5px);
$input-padding: var(--ef-input-padding, 0.5em);
$errors-font-size: var(--ef-form-errors-font-size, 0.8em);
