<easy-form [form]="form" [focusFirstError]="true" (submit)="submitted($event)">

  <div class="container mx-auto max-w-2xl py-10 space-y-10 px-2">
    <div class="card space-y-3">
      <h1 class="text-lg">General <span
        class="badge">Individual form fields</span></h1>
      <ng-container easyFormField path="name"/>
      <ng-container easyFormField path="email"/>
      <ng-container easyFormField path="phone"/>
      <ng-container easyFormField path="userType"/>
      <ng-container easyFormField path="publishDate"/>
      {{ form.getRawValue('publishDate') | json }}
    </div>

    <div class="card space-y-3">
      <h1 class="text-lg">Notification Settings <span
        class="badge">Group</span></h1>
      <div class="grid grid-cols-2 gap-3">
        <ng-container easyFormField path="notificationSettings.email"/>
        <ng-container easyFormField path="notificationSettings.sms"/>
      </div>
    </div>

    <div class="card space-y-3">
      <div class="flex gap-2 justify-between items-center">
        <h1 class="text-lg">Skills <span
          class="badge">Array with single field</span>
        </h1>
        <button type="button" (click)="form.addToArray('skills', '')">Add</button>
      </div>
      <ef-errors path="skills"/>
      <ef-form-array path="skills" class="block space-y-4">
        <ng-template formArrayTemplate let-index="index">
          <div class="flex justify-between items-center gap-2">
            <div class="flex-auto">
              <ng-container easyFormField [path]="['skills', index]"/>
            </div>
            <button type="button"
                    class="bg-red-600 text-white hover:bg-red-700 aspect-square rounded-full p-0 w-10 h-10 flex items-center justify-center border-0"
                    (click)="form.removeFromArray('skills',index)">X
            </button>
          </div>
        </ng-template>
      </ef-form-array>
    </div>

    <div class="card space-y-3">
      <div class="flex gap-2 justify-between items-center">
        <h1 class="text-lg">Addresses <span
          class="badge">Array with group</span></h1>
        <button type="button" (click)="form.addToArray('addresses', {})">Add</button>
      </div>
      <ef-form-array path="addresses" class="block space-y-4">
        <ng-template formArrayTemplate let-index="index">
          <div class="flex items-center gap-2">
            <ng-container easyFormField [path]="['addresses', index, 'title']"/>
            <ng-container easyFormField [path]="['addresses', index, 'street']"/>
            <ng-container easyFormField [path]="['addresses', index, 'city']"/>
            <ng-container easyFormField [path]="['addresses', index, 'zip']"/>
            <button type="button"
                    class="bg-red-600 text-white hover:bg-red-700 aspect-square rounded-full p-0 w-10 h-10 flex items-center justify-center border-0"
                    (click)="form.removeFromArray('addresses',index)">X
            </button>
          </div>
        </ng-template>
      </ef-form-array>
    </div>


    <button type="submit">Submit</button>

  </div>
</easy-form>
