<div class="container py-10 space-y-5">
  <h1 class="text-3xl">Dynamic Path</h1>
  <div class="card">

    <easy-form [schema]="form">
      <div class="block space-y-5">
        <button type="button" (click)="toggleField()">Toggle Field</button>
        <ng-container easyFormField [path]="dynamicPath" #field="easyFormField"/>
        <div>errors: {{ field.control?.errors | json }}</div>

        <ng-container easyFormField path="phone"/>

        <button type="submit">Submit</button>
        <div>
          Form is {{ form.valid ? 'valid' : 'invalid' }}
        </div>
      </div>
    </easy-form>
  </div>
</div>
