<easy-form [form]="form" (submit)="handleSubmit($event)">

  <div class="container mx-auto max-w-3xl">
    <h1 class="text-2xl mb-5">Add Employee</h1>

    <div class="grid grid-cols-7 gap-3">
      <div class="col-span-4">
        <div class="mb-5">
          <ng-container easyFormField path="name"/>
        </div>
        <div class="mb-5">
          <ng-container easyFormField path="email"/>
        </div>
        <div class="mb-5">
          <ng-container easyFormField path="phone"/>
        </div>
        <div class="mb-5 p-3 border border-dashed rounded-2xl">
          <h2 class="text-lg mb-5">Address</h2>
          <div class="mb-5">
            <ng-container easyFormField path="address.street"/>
          </div>
          <div class="mb-5">
            <ng-container easyFormField path="address.city"/>
          </div>
          <div class="mb-5">
            <ng-container easyFormField path="address.state"/>
          </div>
          <div>
            <ng-container easyFormField path="address.zip"/>
          </div>
        </div>

      </div>
      <div class="col-span-3 mb-5 p-3 border border-dashed rounded-2xl">
        <div class="flex mb-5 items-center gap-2">
          <h2 class="text-lg flex-auto">Skills</h2>
          <button type="button" class="bg-amber-400 border-0 hover:bg-amber-300"
                  (click)="form.addToArray('skills', '')">+ Add
          </button>
        </div>
        <!-- Array wide validation -->
        <ef-errors class="block" path="skills"/>

        <ef-form-array path="skills">
          <ng-template formArrayTemplate let-index="index">
            <div class="flex items-center gap-2 border-b last:border-b-0 pb-1 last:pb-0">
              <div class="flex-auto">
                <ng-container easyFormField [path]="['skills', index]"/>
              </div>

              <button type="button" class="bg-red-400 text-white aspect-square w-6 h-6 p-0 rounded-full "
                      (click)="form.removeFromArray('skills', index)">X
              </button>
            </div>
          </ng-template>
        </ef-form-array>
      </div>


    </div>

    <div>
      <button type="submit" class="px-3 py-2 rounded-lg bg-green-600 text-white">Save</button>
    </div>
  </div>


</easy-form>
