<div class="container mx-auto px-3">
  <h1 class="text-2xl mb-10">Easy Form</h1>

  <easy-form [form]="form" (submit)="handleSubmit($event)" #easyFormComponent>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
      @if (showName) {
        <ng-container easyFormField path="name"/>
      }
      <ng-container easyFormField path="email"/>
      <ng-container easyFormField path="age" [disabled]="ageDisabled"/>


      <div class="col-span-full  p-3 border rounded-2xl mb-5">
        <h5 class="text-lg border-b mb-3">Address</h5>
        <div class="grid grid-cols-2 gap-3">
          <ng-container easyFormField path="address.title"/>
          <ng-container easyFormField path="address.street"/>
        </div>
      </div>

      <div class="col-span-full  p-3 border rounded-2xl mb-5">
        <h5 class="text-lg border-b mb-3">Address</h5>
        <div class="grid grid-cols-2 gap-3">
          <!-- Form array usage example -->
          <ng-container easyFormArray name="phones">
            <!-- Define template for showing each item in array -->
            <!-- arrayTemplate context has implicit item value, and index as index -->
            <ng-template #arrayTemplate let-item let-index="index">
              <div class="flex gap-2 items-center justify-between">
                <!-- if this is a simple array it will have only one field so name field is not required -->
                <ng-container easyFormField/>
<!--                <button type="button" class="text-red-500" (click)="form.removeArrayItem(index)">Remove</button>-->
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>

    </div>

    <button type="submit" class="bg-slate-400 px-3 py-2 rounded-xl">Submit</button>

  </easy-form>

  <div class="flex gap-3 p-5">
    <button class="p-3 rounded-lg border hover:bg-gray-200 focus-visible:outline-indigo-600"
            (click)="showName =! showName">
      Toggle Name
    </button>
    <button class="p-3 rounded-lg border hover:bg-gray-200 focus-visible:outline-indigo-600"
            (click)="ageDisabled =! ageDisabled">{{ ageDisabled ? 'Enable Age' : 'Disable Age' }}
    </button>
  </div>

  <div class="grid grid-cols-2">
    <pre class="text-xs">Value,<br> {{ form.formGroup.value | json }}</pre>
    <pre class="text-xs">Schema,<br> {{ form.getOptions() | json }}</pre>
  </div>

</div>
