div.ef-layout {

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  gap: 1rem;

  .ef-form-field {
    --ef-col-span: 12;
    --ef-col-span-sm: var(--ef-col-span);
    --ef-col-span-md: var(--ef-col-span-sm);
    --ef-col-span-lg: var(--ef-col-span-md);

    grid-column: span var(--ef-col-span, 12);
    background-color: darkslateblue;
    padding: 1rem;
    color: white;
    font-size: 2em;
    border-radius: 10px;

    // sm
    @media (min-width:640px) {
      grid-column: span var(--ef-col-span-sm);
    }

    // md
    @media (min-width:768px) {
      grid-column: span var(--ef-col-span-md);
    }

    // lg
    @media (min-width:1024px) {
      grid-column: span var(--ef-col-span-lg);
    }

  }
}
