<easy-form [form]="form" (submit)="handleSubmit($event)" #easyFormComponent>

  <div class="container mx-auto grid grid-cols-12 gap-5">
    @if (showName) {
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <ng-container easyFormField name="name"/>
      </div>
    }
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      <ng-container easyFormField name="email"/>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      <ng-container easyFormField name="age" [disabled]="ageDisabled"/>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      <!--      <ng-container easyFormGroup name="address">-->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-3 border rounded-2xl">
        <ng-container easyFormField groupName="address" name="name"/>
      </div>
      <!--      </ng-container>-->
    </div>
    <!--    <div class="col-span-12 md:col-span-6 lg:col-span-4">-->
    <!--      <ng-container easyFormField name="gender"/>-->
    <!--    </div>-->
  </div>

  <button type="submit" class="bg-slate-400 px-3 py-2 rounded-xl">Submit</button>

</easy-form>

<div class="flex gap-3 p-5">
  <button class="p-3 rounded-lg border hover:bg-gray-200 focus-visible:outline-indigo-600"
          (click)="showName =! showName">
    Toggle Name
  </button>
  <button class="p-3 rounded-lg border hover:bg-gray-200 focus-visible:outline-indigo-600"
          (click)="ageDisabled =! ageDisabled">{{ ageDisabled ? 'Enable Age' : 'Disable Age' }}
  </button>
</div>

<pre>{{ form.formGroup.value | json }}</pre>

<pre>{{ form.getOptions() | json }}</pre>
