<div class="container py-10">
  <div class="mx-auto prose  dark:prose-invert">
    <h1 class="text-center">Angular Easy Form</h1>
    <p>
      Angular Easy Form is a library that helps you to create forms in Angular with ease. It provides a set of
      directives and components that help you to create forms with minimal code.
    </p>

    <div class="space-x-5">
      <a routerLink="/docs" class="text-primary hover:text-primary/60">Get Started</a>
      <a href="https://github.com/yyasinaslan/angular-easyform" target="_blank"
         class="text-primary hover:text-primary/60">Github Repo</a>
    </div>
  </div>
</div>
