<div class="container py-10">
  <div class="mx-auto prose  dark:prose-invert">
    <h1 class="text-center">Angular Easy Form</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo iste magni, officia veniam voluptate
      voluptatum! Aliquam deleniti, ea in libero magnam minus nostrum, possimus qui quidem soluta tenetur vitae?</p>
    <p>Accusantium aliquid asperiores beatae corporis cupiditate debitis dicta, dignissimos et excepturi illo inventore
      itaque maiores nostrum odio porro quas quasi quod repellendus sapiente, sed sint soluta ullam veritatis voluptas
      voluptatibus!</p>
    <p>Aliquid amet animi at dolorem, labore minima modi nemo, neque numquam odit possimus provident quam quidem saepe
      sed suscipit veniam veritatis! Alias at fugiat illo, magni quia quo tempora vel.</p>
    <p>Aspernatur blanditiis et incidunt nemo numquam quae temporibus voluptatum. Aliquam, aliquid atque consequuntur
      debitis delectus dolor, enim eveniet facilis fuga harum maiores quae quidem, sequi soluta ullam unde vitae
      voluptate?</p>
  </div>
</div>
